name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Lint, Test & Build
    runs-on: macos-15
    permissions:
      contents: read
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Lint
        run: |
          brew install swiftlint
          swiftlint --strict

      - name: Test
        run: |
          xcodebuild test \
            -project BrowserClutch.xcodeproj \
            -scheme BrowserClutch \
            -destination 'platform=macOS'pp

      - name: Build
        run: |
          xcodebuild -project BrowserClutch.xcodeproj \
            -scheme BrowserClutch \
            -configuration Release \
            -destination 'platform=macOS' \
            CODE_SIGN_IDENTITY="-" \
            build
